*{
    margin: 0;
}

header{
    background-color: #0000009a;
    display: flex;
    justify-content: center;
    height: 70px;
    margin-bottom: 40px;
}

#name{
    color: white;
    position: absolute;
    left: 0; 
    margin-left: 15px;
    margin-top: 20px;
    font-size: 20px;
}

#mypage{
    position: absolute;
    right: 0; 
    margin-top: 10px;
    margin-right: 10px;
}

img{
    width: 50px;
    height: 50px;
}

body {
    width: 100%;
  }

.limit{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

  .table_box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    /* margin-bottom: 10px; */
    border-collapse: collapse;
    width: 400px;
    border-collapse:separate;
    border-spacing: 0;
  }
  
  table th:first-child{
    border-radius: 6px 0 0 0;
  }
  
  table th:last-child{
    border-radius: 0 6px 0 0;
    border-left: 0.6px solid #ffffff;
  }
  
  table th{
    font-size: 30px;
    text-align: center;
    color:white;
    background: linear-gradient(#86ace2,#0065f4);
    border-left: 0.3px solid #ffffff;
    width: 20%;
    padding: 10px 0;
  }
  
  table td{
    text-align: center;
    border-left: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    border-top:none;
    box-shadow: 0px -3px 8px 1px #eee inset;
    width: 20%;
    padding: 12px 0;
  }
  
  table td:last-child{
    border-right: 1px solid #c3c3c3;
  }
  
  table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
  
  table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
  }

  .time{
    font-family: 'Roboto Mono', monospace;
    font-size: 35px;
  }


/* 
 pie timer
*/
#timer {
    margin: 40px;
    width: 200px;
}

.pietimer {
    position:relative;
    font-size: 50px;
    width:1em;
    height:1em;
    float: left;
}
.pietimer > .percent {
    position: absolute;
    top: 1.05em;
    left: 0;
    width: 3.33em;
    font-size: 0.3em;
    text-align:center;
    display: none;
}
.pietimer > .slice {
    position:absolute;
    width:1em;
    height:1em;
    clip:rect(0px,1em,1em,0.5em);
}
.pietimer > .slice.gt50 {
    clip:rect(auto, auto, auto, auto);
}
.pietimer > .slice > .pie {
    border: 0.1em solid #c0c0c0;
    position:absolute;
    width:0.8em; /* 1 - (2 * border width) */
    height:0.8em; /* 1 - (2 * border width) */
    clip:rect(0em,0.5em,1em,0em);
    -moz-border-radius:0.5em;
    -webkit-border-radius:0.5em;
    border-radius:0.5em;
}
.pietimer > .slice > .pie.fill {
    -moz-transform:rotate(180deg) !important;
    -webkit-transform:rotate(180deg) !important;
    -o-transform:rotate(180deg) !important;
    transform:rotate(180deg) !important;
}
.pietimer.fill > .percent {
    display: none;
}
.pietimer.fill > .slice > .pie {
    border: transparent;
    background-color: #c0c0c0;
    width:1em;
    height:1em;
}